/* 인풋스타일 */

input {border:none}
.inputset {position:relative; @include font-size(0px); width:100%; vertical-align:middle; display:inline-block;
	input, select {border:1px solid #d5d5d5}
	//인풋 기본
	input {@include appearance(none); padding:0 10px 0 10px; line-height:34px; transition:background-color 1.2s ease, box-shadow 1.2s ease;
		&:focus {background:#fee8e9; border:1px solid #d44e54; box-shadow:0 0 10px 0 rgba(212,74,84,0.2);
			&::-webkit-input-placeholder {color:#d44e54} 	
		}
		&:read-only {background:#f3f3f3; border:1px solid #d5d5d5;
			&:focus {background:#f3f3f3; box-shadow:none;
				&::-webkit-input-placeholder {color:#a9a9a9}
			}
		}
	}	
	
	//셀랙트
	select {@include appearance(none); background:#fff url(../img/bg_select.png) no-repeat right 0; padding:7px 47px 7px 10px; @include font-size(14px);
	transition:border-color 1.2s ease, box-shadow 1.2s ease;
		&:focus {border:1px solid #d44e54; box-shadow:0 0 10px 0 rgba(212,74,84,0.2)}
	}
	
	//인풋 라디오 스타일
	[type="radio"]:not(:checked), [type="radio"]:checked {@include posa(false, false, false, -9999px); visibility: hidden}
	[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {position: relative; padding-left: 26px; cursor: pointer;
	display: inline-block; height: 25px; line-height: 25px; @include font-size(16px); @include transition(.28s ease);}
	
	[type="radio"] + label:before, [type="radio"] + label:after {content: ''; @include posa(0px, false, false, 0px); margin: 4px; width: 16px; height: 16px; z-index: 0; 
	@include transition(.15s ease);}
	
	/* Unchecked styles */
	[type="radio"]:not(:checked) + label:before {@include rounded_corner(50%, false, false, false, false); border: 2px solid #5a5a5a}
	[type="radio"]:not(:checked) + label:after {@include rounded_corner(50%, false, false, false, false); border: 2px solid #5a5a5a; z-index: -1; @include transform(scale(0))}
	
	/* Checked styles */
	[type="radio"]:checked + label:before {@include rounded_corner(50%, false, false, false, false); border: 2px solid transparent}
	[type="radio"]:checked + label:after {@include rounded_corner(50%, false, false, false, false); border: 2px solid #26a69a; background-color: #26a69a; z-index: 0;
	@include transform(scale(1.02));}  
	
	//체크박스
	/* Remove default checkbox */
	[type="checkbox"]:not(:checked), [type="checkbox"]:checked {position: absolute; left: -9999px; visibility: hidden}	
	[type="checkbox"] + label {position: relative; padding-left: 25px; cursor: pointer; display: inline-block; height: 25px; line-height: 25px; @include font-size(16px);}
	[type="checkbox"] + label:before {content: ''; position: absolute; top: 0; left: 0; width: 18px; height: 18px; z-index: 0; border: 2px solid #5a5a5a;
	@include rounded_corner(1px, false, false, false, false);margin-top: 2px; @include transition(.15s ease);}
	[type="checkbox"]:not(:checked):disabled + label:before {border: none; background-color: rgba(0, 0, 0, 0.26);}
	
	[type="checkbox"]:checked + label:before {top: -4px; left: -3px; width: 12px; height: 22px;
	border-top: 2px solid transparent; border-left: 2px solid transparent; border-right: 2px solid #26a69a; border-bottom: 2px solid #26a69a;
	@include transform(rotate(40deg));
	-webkit-backface-visibility: hidden;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%; }
	[type="checkbox"]:checked:disabled + label:before {border-right: 2px solid rgba(0, 0, 0, 0.26);border-bottom: 2px solid rgba(0, 0, 0, 0.26); }	
	&.grd + &.grd {margin-left:15px}	
	
	//검색스타일
	&.sch {display:block; width:100%;
		[type="search"] {border:none; border-bottom:1px solid #ccc; @include transition(all .3s ease);
			&:focus {background:none; border:none; border-bottom:1px solid #093}
		}	
		button.schbtn {@include posa(8px, 8px, false, false); width:20px; height:20px; background:url(../img/magnifier12.png) no-repeat 0 0; background-size:cover}
		+ .mattab {margin-top:10px}
	}
	// 라벨 인라인
	&.label {@include flexdp; 
		label {width:200px; line-height:34px}
		input {@include flexgrid}
		+ .inputset.label {margin-top:10px}
		
	}
	//체크박스 인라인
	&.grd {display:inline}
}

//라디오 버튼 디자인 타입2
.tab_rdo {display:inline-block; @include font-size(0px); overflow:hidden; vertical-align:middle; border-left:1px solid #bfbfbf;
	input[type="radio"] {position:absolute; left:-9999px}
	
	input[type="radio"]:checked + label {
		color:#fff; padding:6px 15px 7px; border:1px solid #7e5e4e; @include linear-gradient(to bottom, #997b6d 0%, #856656 70%, #7e5e4e 100%); 
		@include gradientfilter(#7e5e4e, #997b6d);
		&:after,
		&:before, {background:none; border:none}
	}
	> div {display:inline-block}
	input[type="radio"] + label {font-size:16px; border:1px solid #bfbfbf; margin-left:-1px; padding:6px 15px 7px; 
	display:inline-block; cursor:pointer; line-height:22px;
	@include linear-gradient(to bottom, #fefefe 0%, #f4f4f4 70%, #ebebeb 100%); @include gradientfilter(#ebebeb, #fefefe);
		&:after,
		&:before, {background:none; border:none}	
	}
}


//인풋flex 
.input_col {@include flexdp;
	.inputset {@include flexgrid}
	span:nth-of-type(2) {line-height:36px; margin:0 5px}
	.inputset + .inputset {margin-left:5px}
	//아이오닉 달력 보기
	&.date { 
		.inputset {position:relative}	
		.datebtn {@include posa(0px, 0px, false, false); @include font-size(16px); text-indent:-9999px; width:34px; height:34px; background:#a6a6a6;
			&:after {content:""; display:block; width:22px; height:22px; background:url(../img/calico.png) no-repeat 0 0; position:absolute; top:6px; left:6px}
			&:active,
			&:hover {background:#494949}
		}
	}
	&.type1 { 
		span:nth-child(4) {display:inline; font-size:inherit; line-height:0; margin-right:0}
	}
}

.item input {padding:0}
.item input:focus {border:none; box-shadow:none; background:none}
.item-input > input[type="text"] {border:none}
label.item-input {padding-right:16px}

.inputset + .inputset {margin-top:10px}

