<ion-view view-title="주요사업분야">
  <ion-content>

      
<div class="content_area">
    <div class="card">
        <div class="item item-divider">
        	H/W 제조업
        </div>
        <div class="item item-text-wrap">
            태블릿 모니터 제조<br />
            Smart KIOSK 제조
        </div>
        <div class="item item-divider">
			솔루션 사업
        </div>
        <div class="item item-text-wrap">
            전자문서(Paperless, ODS) 솔루션<br />
            이미지(BPR, ECM) 솔루션<br />
            WEB Framework 솔루션<br />
            해지서류 분류 솔루션
        </div>
        <div class="item item-divider">
			HW 유통 사업
        </div>
        <div class="item item-text-wrap">
            미국 BANCTEC사 초고속 Scanner 국내 총판<br />
            ㈜한틀시스템 수표 처리용 Scanner 판매 총판<br />
            ㈜유니온커뮤니티 인감스캐너 판매 총판<br />
            ㈜한틀시스템 신용카드 전용 미니키오스크 판매 총판
        </div>
        <div class="item item-divider">
			SI 사업
        </div>
        <div class="item item-text-wrap">
            전자문서(Paperless, ODS) 시스템 구축<br />
            이미지(BPR, ECM) 시스템 구축<br />
            어음,수표,공과금 시스템 구축<br />
            차세대 Core 뱅킹 시스템 구축
        </div> 
        <div class="item item-divider">
			유지보수 사업
        </div>
        <div class="item item-text-wrap">
            스캐너 장비(H/W) 유지보수<br />
            태블릿 모니터 및 KIOSK 장비(H/W) 유지보수<br />
            솔루션 (S/W) 유지보수<br />
            업무 프로그램 유지보수
        </div> 
        <div class="item item-divider">
			아웃소싱 사업
        </div>
        <div class="item item-text-wrap">
            전산 운영 인력 아웃소싱<br />
            전산 시스템 운영 아웃소싱<br />
            종이문서 해지서류 분류 운영 Total 아웃소싱
        </div>                                          
    </div> 	   
</div>

     <div class="bar bar-footer">
        <address>주식회사 태화이노베이션<br />서울특별시 성동구 뚝섬로 1길 25 서울숲한라에코벨리 601호<br /> 
    대표번호 : 02-6952-9644 / E-mail : taehwainno@taehwainno.com</address>
      <!-- <button class="button button-clear pull-right">Right</button> -->
    </div>   
  </ion-content>
</ion-view>



