<ion-view view-title="전자문서시스템" ng-controller = "TabCtrl">
  <ion-content>      
    <div class="content_area">
    
        <div class="tab col2">
            <div class="tab_list">
                <a href="" id="cont1">태블릿브렌치(ODS)</a>
            </div>
            <div class="tabcont on" id="cont1">
            <!-- 내용 1 -->
                <div class="list">
                    <div class="biz_sysbox">
                        <ion-scroll zooming="true" direction="xy" style="width: 100%; min-height:300px">
                        <img class="responsive" src="img/sysimg01.jpg" alt="" />
                        <!-- div style="width: 1099px; height: 481px; background: url('img/sysimg01.jpg') no-repeat"></div -->
                        </ion-scroll>
                    </div>                   
                </div>              
            <!-- //내용 1 -->                                
            </div>                
            <div class="tab_list">
                <a href="" id="cont2">전자창구</a>
            </div>
            <div class="tabcont" id="cont2">
            <!-- 내용 2 -->
                <div class="list">
                    <div class="biz_sysbox">
                        <ion-scroll zooming="true" direction="xy" style="width: 100%; min-height:300px">
                        <img class="responsive" src="img/sysimg02.jpg" alt="" />
                        <!-- div style="width: 1123px; height: 754px; background: url('img/sysimg02.jpg') no-repeat"></div -->
                        </ion-scroll>
                    </div>                    
                </div>               
            <!-- //내용 2 -->   
            </div>                                                             
            <div class="tabslideset">
                <div class="tabslide"></div>
            </div>                     
        </div>      
    
    
    	

              
    </div>
     <div class="bar bar-footer">
        <address>주식회사 태화이노베이션<br />서울특별시 성동구 아차산로17길 48, 성수SK V1센터1 912,913호<br /> 
    대표번호 : 02-6952-9644 / E-mail : taehwainno@taehwainno.com</address>
      <!-- <button class="button button-clear pull-right">Right</button> -->
    </div>   
  </ion-content>
</ion-view>



