<ion-view view-title="회사소개">
  <ion-content>
      
<div class="content_area">
	<div class="imgzone">  
        <img class="responsive" src="img/intro_img1.jpg" alt="" />
    </div>
    <h2 class="subtit"><em>"독자적 솔루션과 컨설팅 제공을 한번에"</em></h2>
    <p class="subtxt">(주)태화이노베이션은 금융 및 공공 분야에 소프트웨어 개발, HW 및 솔루션 공급, IT컨설팅 서비스를 제공하는 IT 서비스 전문 업체로서 Image / BPR / PPR / ODS업무 컨설팅 전문가와 소프트웨어 개발자를 주축으로 설립되어, 급속도로 성장하는 IT 시장에 독자적인 솔루션과 컨설팅서비스를 제공하고 있습니다. 현재 국내 금융권 Image Process System, 초고속스캐너 공급 및 Paperless 사업 등 다양한 Solution을 제공하고 있습니다.</p>


    <div class="list card">
    
        <div class="item">
            <h2>회사명</h2>
            <p>주식회사 태화이노베이션</p>
        </div>
        <div class="item">
            <h2>대표자</h2>
            <p>이웅철</p>
        </div> 
        <div class="item">
            <h2>사업분야</h2>
            <p>금융 컨설팅 및 구축 서비스업, IT 컨설팅, H/W 공급, 시스템 유지보수, 제조</p>
        </div>  
        <div class="item">
            <h2>주소</h2>
            <p>서울특별시 성동구 아차산로17길 48, 성수SK V1센터1 912,913호</p>
        </div>
        <div class="item">
            <h2>연락처</h2>
            <p>대표번호 : 02) 6952-9644 / 고객센터 : 02) 6952-9645 / 팩스번호 : 02) 6952-9643</p>
        </div>
        <div class="item">
            <h2>회사설립년도</h2>
            <p>2015년 05월</p>
        </div>
        <div class="item">
            <h2>해당부분 사업경험</h2>
            <p>~ 현재까지 (약15년)</p>
        </div>                                        
    </div>
</div>    

     <div class="bar bar-footer">
        <address>주식회사 태화이노베이션<br />서울특별시 성동구 아차산로17길 48, 성수SK V1센터1 912,913호<br /> 
    대표번호 : 02-6952-9644 / E-mail : taehwainno@taehwainno.com</address>
      <!-- <button class="button button-clear pull-right">Right</button> -->
    </div>   
  </ion-content>
</ion-view>



