<ion-view view-title="CEO인사말">
  <ion-content>
  
<div class="content_area bot_grid">
	<div class="imgzone">  
        <img class="responsive" src="img/intro_img2.jpg" alt="" />
    </div>
    <p class="subtxt">
        ㈜태화이노베이션은 일반문서 및 전자문서 처리 사업분야에 새로운 비전을 제시하고 최고의 기술력과 열정으로 혁신된 미래를 이끌어 가겠습니다.
        지난 20여년간 다양한 문서들을 자동처리 해 왔으며, 시대의 흐름에 맞춰 이젠 “종이 없는 전자문서의 처리 솔루션(FEVER)”을 새롭게 출시하게 되었습니다.
        한 분야에서 끊임없는 연구개발에 노력하고 있으며, 다양한 경험과 기술력으로 최상의 서비스를 제공하여 고객에게 신뢰를 심어주는 기업으로 거듭나겠습니다.
        한 기업의 미래만이 아니라 연관된 모든 이들의 풍요로운 내일과 행복을 지켜 나간다는 긍지와 책임감으로 기업활동에 전념할 것입니다.
        감사합니다.
	</p>
    <div class="intro_sign">
        <img class="responsive" src="img/intro_img_sign.png" alt="" />
    </div>    
</div>


     <div class="bar bar-footer">
        <address>주식회사 태화이노베이션<br />서울특별시 성동구 뚝섬로 1길 25 서울숲한라에코벨리 601호<br /> 
    대표번호 : 02-6952-9644 / E-mail : taehwainno@taehwainno.com</address>
      <!-- <button class="button button-clear pull-right">Right</button> -->
    </div>   
  </ion-content>
</ion-view>



