@charset "UTF-8";
/* css 리셋 */
* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  min-height: 100%;
  color: #555;
  color: #555;
  margin: 0;
  padding: 0; }

body {
  font: normal 100%/1.2 "돋움", dotum, "Helvetica", sans-serif; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, select, label, img {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  margin: 0;
  padding: 0; }

fieldset, img, table, button {
  border: 0; }

ul, ol, li {
  list-style: none; }

img {
  vertical-align: middle; }

caption, legend {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold; }

address, em {
  font-style: normal;
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, navi, section {
  display: block; }

legend, hr {
  display: none;
  height: 0;
  font-size: 0; }

a {
  color: #555;
  text-decoration: none; }

p {
  padding: 5px 0 5px 0; }

button {
  color: #555;
  text-decoration: none;
  cursor: pointer; }

/* 아이오닉 스타일 적용 */
.slider {
  height: 100%;
  text-align: center; }

.scroll {
  height: 100%; }

.previous-title {
  color: #fff;
  line-height: 70px; }

.ion-simg {
  width: 100%;
  height: 100%;
  background: url(../img/visimg1.jpg) no-repeat;
  background-size: cover; }
  .ion-simg.type1 {
    background: url(../img/visimg2.jpg) no-repeat;
    background-size: cover; }
  .ion-simg.type2 {
    background: url(../img/visimg3.jpg) no-repeat;
    background-size: cover; }

.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em; }

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #999; }

.matboxset {
  position: relative;
  margin: 20px 0 0;
  padding: 0 0 80px 30px;
  overflow: hidden; }

.matbox1 {
  width: 100px;
  height: 100px;
  background: #be3036;
  float: left;
  margin: 40px 40px 0 0;
  color: #fff;
  line-height: 100px;
  text-align: center; }
  .matbox1.type1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12); }
  .matbox1.type2 {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.13); }
  .matbox1.type3 {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.14); }
  .matbox1.type4 {
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 14px 34px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 14px 34px 0 rgba(0, 0, 0, 0.15); }
  .matbox1.type5 {
    box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.2), 0 18px 42px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.2), 0 18px 42px 0 rgba(0, 0, 0, 0.16); }
  .matbox1.type6 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2), 0 22px 50px 0 rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2), 0 22px 50px 0 rgba(0, 0, 0, 0.17); }
  .matbox1.type7 {
    box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.2), 0 26px 58px 0 rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.2), 0 26px 58px 0 rgba(0, 0, 0, 0.18); }
  .matbox1.type8 {
    box-shadow: 0 18px 19px 0 rgba(0, 0, 0, 0.2), 0 30px 64px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 18px 19px 0 rgba(0, 0, 0, 0.2), 0 30px 64px 0 rgba(0, 0, 0, 0.19); }
  .matbox1.type9 {
    box-shadow: 0 22px 21px 0 rgba(0, 0, 0, 0.2), 0 35px 70px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 22px 21px 0 rgba(0, 0, 0, 0.2), 0 35px 70px 0 rgba(0, 0, 0, 0.2); }
  .matbox1.type10 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.tbbts_sidebarguidebox {
  position: relative;
  width: 90%;
  height: 300px;
  border: 1px solid #f3f3f3;
  padding: 30px; }
  .tbbts_sidebarguidebox .tbbts_lnb {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 200px;
    height: 90%;
    background: #f8f8f8;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.14); }
  .tbbts_sidebarguidebox .tbbts_lnb_dp2 {
    position: absolute;
    top: 30px;
    left: 190px;
    width: 200px;
    height: 200px;
    background: #f8f8f8;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.14); }
  .tbbts_sidebarguidebox .tbbts_lnb_dp3 {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 200px;
    height: 50px;
    background: #f8f8f8;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.14); }

.principle_outer {
  overflow: hidden; }
  .principle_outer .principle {
    display: inline-block;
    margin-left: 20px;
    width: 300px;
    text-align: center;
    float: left; }
    .principle_outer .principle .pr1 {
      width: 200px;
      height: 200px;
      background: #a869e3;
      display: inline-block;
      padding: 0;
      border-radius: 75%;
      text-align: center;
      line-height: 200px;
      color: #fff;
      margin-bottom: 10px;
      font-size: 1.5rem; }
      .principle_outer .principle .pr1.type1 {
        background: #6997e3; }
    .principle_outer .principle .subtxt {
      text-align: left; }

.item {
  border: none;
  margin: 0;
  border-bottom: 1px solid #dddddd; }

.ionicrow > div:first-of-type {
  color: #f00; }

.ionicrow > div:last-of-type {
  color: #00F; }

.bar.bar-stable.custom {
  background: #ea5421; }
  .bar.bar-stable.custom .title {
    color: #fff; }
.bar .button.ion-navicon:before {
  /* line-height:75px; */ }
.bar .button.ion-navicon.button-clear {
  max-height: 94px; }

.menu-open .menu {
  overflow: visible;
  z-index: 10 !important; }
  .menu-open .menu .overflow-scroll {
    overflow: visible; }

.bar-footer {
  position: relative;
  background: #1c1c1c;
  height: 100px; }
  .bar-footer address {
    font-size: 0.75rem;
    margin: 10px auto 0;
    text-align: center;
    color: #fff; }

.title > h2 {
  color: #ea5421;
  font-size: 1rem; }
.title + .list {
  margin-top: 15px; }

.list.recue {
  margin-bottom: 20px; }
  .list.recue li {
    border-bottom: 1px solid #c7c8c8;
    margin: 10px 0;
    padding: 0 0 5px 0; }
    .list.recue li:first-child {
      margin-top: 0; }
    .list.recue li dl dt {
      color: #333;
      font-size: 0.875rem; }
    .list.recue li dl dd {
      color: #666;
      font-size: 0.75rem; }

.recuebox .stit {
  color: #333;
  margin-top: 5px; }
.recuebox .stxt {
  font-size: 0.75rem;
  color: #666; }

.simg {
  margin: 0 0 40px 0; }
  .simg img {
    width: 100%; }

/* 공통UI */
.logo {
  position: relative;
  top: 20px;
  z-index: 100;
  display: block;
  margin: 0 auto;
  width: 131px; }

.lnblist li {
  position: relative;
  line-height: 47px; }
  .lnblist li a {
    color: #333;
    padding-left: 23px;
    display: block; }
    .lnblist li a:after {
      content: "";
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url("../img/lnb_arrset.png") no-repeat;
      margin: 12px 15px 0 0;
      float: right; }
  .lnblist li.on > a:after {
    background-position: 0 -22px; }
  .lnblist li .lnb_dp2 {
    background: #e6e6e6;
    z-index: 50;
    display: none; }
    .lnblist li .lnb_dp2 li a {
      color: #707070; }
      .lnblist li .lnb_dp2 li a:hover, .lnblist li .lnb_dp2 li a:active {
        background: #cccccc; }
      .lnblist li .lnb_dp2 li a:after {
        background-position: 0 -44px; }

.subtit {
  font-size: 1.375rem;
  color: #333333; }
  .subtit.type1 {
    font-size: 1.25rem;
    color: #666666; }
  .subtit.type2 {
    font-size: 1.125rem;
    color: gray; }
  .subtit + iframe,
  .subtit + .subtxt,
  .subtit + ul,
  .subtit + div,
  .subtit .principle_outer {
    margin-top: 20px; }

div + .subtit {
  margin-top: 20px; }

.subtxt {
  font-size: 1rem;
  margin: 0 0 0 5px;
  padding: 0;
  line-height: 1.5; }
  .subtxt.type1 {
    width: 300px;
    line-height: 35px; }
  .subtxt.type2 {
    display: block;
    width: 100%;
    margin: 3px 0 0 0;
    font-size: 0.75rem; }
  .subtxt.type3 {
    font-size: 1rem;
    margin-left: 0; }
  .subtxt + .video,
  .subtxt + .subtit {
    margin-top: 40px; }
  .subtxt + .ct,
  .subtxt + img {
    margin-top: 10px; }

.tab {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; }
  .tab .tab_list {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    height: 48px;
    outline: none;
    font-size: 14px;
    overflow: hidden;
    height: 48px;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4; }
    .tab .tab_list a {
      display: block;
      height: 100%;
      line-height: 48px;
      color: #212121; }
  .tab .tabcont {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 60px;
    display: none; }
    .tab .tabcont .collapsible {
      border: none;
      box-shadow: none; }
    .tab .tabcont.on {
      display: block; }
  .tab .tabslideset {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%; }
    .tab .tabslideset .tabslide {
      left: 0%;
      bottom: 0px;
      display: block;
      height: 2px;
      margin-top: -2px;
      position: relative;
      -webkit-transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      -moz-transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      -ms-transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      -o-transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      background-color: #ea5421; }
  .tab.col2 .tab_list {
    width: calc(100% / 2); }
    .tab.col2 .tab_list:nth-of-type(1) {
      left: calc((100% / 2) * 0); }
    .tab.col2 .tab_list:nth-of-type(3) {
      left: calc((100% / 2) * 1); }
    .tab.col2 .tab_list:nth-of-type(1).on ~ .tabslideset .tabslide {
      left: calc((100% / 2) * 0); }
    .tab.col2 .tab_list:nth-of-type(3).on ~ .tabslideset .tabslide {
      left: calc((100% / 2) * 1); }
  .tab.col2 .tabslideset .tabslide {
    width: calc(100% / 2); }
  .tab.col3 .tab_list:nth-of-type(1).on ~ .tabslideset .tabslide {
    left: calc((100% / 3) * 0); }
  .tab.col3 .tab_list:nth-of-type(3).on ~ .tabslideset .tabslide {
    left: calc((100% / 3) * 1); }
  .tab.col3 .tab_list:nth-of-type(5).on ~ .tabslideset .tabslide {
    left: calc((100% / 3) * 2); }
  .tab.col3 .tabslideset .tabslide {
    width: calc(100% / 3); }
  .tab.col4 .tab_list {
    width: calc(100% / 4); }
    .tab.col4 .tab_list:nth-of-type(1) {
      left: calc((100% / 4) * 0); }
    .tab.col4 .tab_list:nth-of-type(3) {
      left: calc((100% / 4) * 1); }
    .tab.col4 .tab_list:nth-of-type(5) {
      left: calc((100% / 4) * 2); }
    .tab.col4 .tab_list:nth-of-type(7) {
      left: calc((100% / 4) * 3); }
    .tab.col4 .tab_list:nth-of-type(1).on ~ .tabslideset .tabslide {
      left: calc((100% / 4) * 0); }
    .tab.col4 .tab_list:nth-of-type(3).on ~ .tabslideset .tabslide {
      left: calc((100% / 4) * 1); }
    .tab.col4 .tab_list:nth-of-type(5).on ~ .tabslideset .tabslide {
      left: calc((100% / 4) * 2); }
    .tab.col4 .tab_list:nth-of-type(7).on ~ .tabslideset .tabslide {
      left: calc((100% / 4) * 3); }
  .tab.col4 .tabslideset .tabslide {
    width: calc(100% / 4); }
  .tab.col5 .tabslideset .tabslide {
    width: calc(100% / 5); }

.prd_imgbox {
  margin-top: 10px; }
  .prd_imgbox img {
    width: 100%;
    border: 1px solid #d9d9d9; }
  .prd_imgbox + .ic {
    margin-top: 10px; }

.video {
  position: relative; }
  .video.type1 {
    float: left; }

.txtbox {
  overflow: hidden; }
  .txtbox img {
    float: left;
    display: inline;
    width: 300px;
    margin-right: 20px; }
  .txtbox .subtxt {
    margin-left: 0;
    padding: 0;
    font-size: 0.9375rem;
    line-height: 1.7; }

.ink {
  display: block;
  position: absolute;
  background: #58dff0;
  border-radius: 100%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -moz-transform: scale(0); }

.ink.type1 {
  background: #e43f3f; }

/*animation effect*/
.ink.animate {
  -webkit-animation: ripple .9s linear; }

@-webkit-keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  100% {
    opacity: 0;
    transform: scale(3);
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    -moz-transform: scale(3); } }
.ink.type1.animate {
  -webkit-animation: ripple .5s linear; }

@-webkit-keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  100% {
    opacity: 0;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1); } }
.dpn {
  display: none; }

.tbtmode {
  display: block; }

.mblmode {
  display: none; }

.f_clear {
  clear: both;
  width: 0;
  height: 0; }

.ct {
  width: 100%;
  margin: 0 auto; }

.p_b30 {
  padding-bottom: 30px; }

figure + .subtit,
iframe + .subtit {
  margin-top: 30px; }

.t_nt + .btn_center {
  margin-top: 20px; }

.redbtn + .whitebtn {
  margin-left: 10px; }

.tbb_contbox + .btn_center,
.btn_center + .tbb_contbox,
.tbtmode + .btn_center,
.mblmode + .btn_center {
  margin-top: 20px; }

.btn_center .waves-effect {
  font-size: 14px; }

.btn_center .btn + .btn {
  margin-left: 10px; }

.item-input + .btn_center {
  margin-top: 10px; }

.ic li {
  line-height: 1.7; }
.ic.indent {
  margin-left: 30px; }

@media screen and (max-width: 768px) {
  .tbb_lnb {
    width: 40px; }
    .tbb_lnb .tbb_lbnkdd .tbb_dtbox dt {
      width: 30px;
      height: 30px;
      background-size: 390%; }
      .tbb_lnb .tbb_lbnkdd .tbb_dtbox dt.d1:active, .tbb_lnb .tbb_lbnkdd .tbb_dtbox dt.d1:hover {
        background-position: 0 -59px; }
      .tbb_lnb .tbb_lbnkdd .tbb_dtbox dt.d2 {
        background-position: -49px 0; }
        .tbb_lnb .tbb_lbnkdd .tbb_dtbox dt.d2:active, .tbb_lnb .tbb_lbnkdd .tbb_dtbox dt.d2:hover {
          background-position: -49px -59px; }
      .tbb_lnb .tbb_lbnkdd .tbb_dtbox dt.d3 {
        background-position: -92px 0; }
        .tbb_lnb .tbb_lbnkdd .tbb_dtbox dt.d3:active, .tbb_lnb .tbb_lbnkdd .tbb_dtbox dt.d3:hover {
          background-position: -92px -59px; }
    .tbb_lnb .tbb_lbnkdd .tbb_dtbox dd {
      left: 40px; }
    .tbb_lnb + .tbb_content {
      margin-left: 40px; }
    .tbb_lnb.type1 .tbb_lbnkdd .tbb_dtbox dt {
      width: 100%;
      height: 45px; }

  .tbb_content {
    padding: 30px 20px; }
    .tbb_content.type1 {
      display: block; }
      .tbb_content.type1 .tbb_contbox:first-child {
        width: 100%; }
        .tbb_content.type1 .tbb_contbox:first-child + .tbb_contbox {
          margin-left: 0; }
      .tbb_content.type1 .tbb_contbox:nth-of-type(2) {
        flex: none;
        -webkit-flex: none; }

  .tbtmode {
    display: none; }

  .mblmode {
    display: block; }

  .t_nt tr {
    text-align: center; } }
.menu_ready .btn_menu {
  z-index: 999999;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-top: 21px;
  margin-left: 20px;
  position: relative;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-top-left-radius: true;
  -webkit-border-top-left-radius: true;
  border-top-left-radius: true;
  -moz-border-top-right-radius: true;
  -webkit-border-top-right-radius: true;
  border-top-right-radius: true;
  -moz-border-bottom-left-radius: true;
  -webkit-border-bottom-left-radius: true;
  border-bottom-left-radius: true;
  -moz-border-bottom-right-radius: true;
  -webkit-border-bottom-right-radius: true;
  border-bottom-right-radius: true;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .menu_ready .btn_menu span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-border-top-left-radius: true;
    -webkit-border-top-left-radius: true;
    border-top-left-radius: true;
    -moz-border-top-right-radius: true;
    -webkit-border-top-right-radius: true;
    border-top-right-radius: true;
    -moz-border-bottom-left-radius: true;
    -webkit-border-bottom-left-radius: true;
    border-bottom-left-radius: true;
    -moz-border-bottom-right-radius: true;
    -webkit-border-bottom-right-radius: true;
    border-bottom-right-radius: true;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translatey(12px) rotate(0deg);
    -moz-transform: translatey(12px) rotate(0deg);
    -ms-transform: translatey(12px) rotate(0deg);
    -o-transform: translatey(12px) rotate(0deg);
    transform: translatey(12px) rotate(0deg); }
    .menu_ready .btn_menu span.bar_2 {
      -webkit-transform: translatey(0) rotate(0deg);
      -moz-transform: translatey(0) rotate(0deg);
      -ms-transform: translatey(0) rotate(0deg);
      -o-transform: translatey(0) rotate(0deg);
      transform: translatey(0) rotate(0deg); }
    .menu_ready .btn_menu span.bar_3 {
      -webkit-transform: translatey(25px) rotate(0deg);
      -moz-transform: translatey(25px) rotate(0deg);
      -ms-transform: translatey(25px) rotate(0deg);
      -o-transform: translatey(25px) rotate(0deg);
      transform: translatey(25px) rotate(0deg); }
.menu_ready.menu-open .btn_menu {
  -webkit-transform: rotate(180deg) translatex(-3px);
  -moz-transform: rotate(180deg) translatex(-3px);
  -ms-transform: rotate(180deg) translatex(-3px);
  -o-transform: rotate(180deg) translatex(-3px);
  transform: rotate(180deg) translatex(-3px); }
  .menu_ready.menu-open .btn_menu span.bar_2, .menu_ready.menu-open .btn_menu span.bar_3 {
    -webkit-transform: rotate(-45deg) translatey(23px);
    -moz-transform: rotate(-45deg) translatey(23px);
    -ms-transform: rotate(-45deg) translatey(23px);
    -o-transform: rotate(-45deg) translatey(23px);
    transform: rotate(-45deg) translatey(23px);
    width: 15px; }
  .menu_ready.menu-open .btn_menu span.bar_2 {
    -webkit-transform: rotate(45deg) translatex(18px) translatey(-7px);
    -moz-transform: rotate(45deg) translatex(18px) translatey(-7px);
    -ms-transform: rotate(45deg) translatex(18px) translatey(-7px);
    -o-transform: rotate(45deg) translatex(18px) translatey(-7px);
    transform: rotate(45deg) translatex(18px) translatey(-7px); }

.left-buttons .waves-effect {
  overflow: visible; }

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }

.datepickerdemoBasicUsage md-content {
  padding-bottom: 200px; }

.datepickerdemoBasicUsage .validation-messages {
  font-size: 11px;
  color: darkred;
  margin: 10px 0 0 25px; }

.modal_layout {
  padding: 30px 20px 0; }

/* 로그인 폼 */
.loginlist {
  display: table;
  width: 100%;
  padding: 0 20px;
  padding-top: 30px; }
  .loginlist .loginlist_col {
    display: table-row; }
    .loginlist .loginlist_col dt, .loginlist .loginlist_col dd {
      display: table-cell;
      padding: 10px 10px 0 0; }
    .loginlist .loginlist_col dt {
      width: 10%; }
    .loginlist .loginlist_col dd {
      width: 90%; }
    .loginlist .loginlist_col + .loginlist_col {
      margin-top: 10px; }
  .loginlist + .btn_center {
    margin-top: 20px; }

.padding .subtit {
  margin-bottom: 10px;
  margin-top: 20px; }

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0rem; }

.bodyhead {
  border-top: 1px solid #ea5421;
  background: #d9d9d9;
  margin-bottom: 20px;
  overflow: hidden; }

.bodyhead > h2 {
  color: #666;
  line-height: 40px;
  margin-left: 10px; }

.content_area {
  margin: 0 10px;
  padding-bottom: 20px; }

em {
  color: #ea5421; }

.subtit {
  font-size: 1rem;
  margin: 0;
  padding: 0; }

.subtxt {
  font-size: 0.75rem; }

.imgzone {
  overflow: hidden; }

.imgzone > img {
  width: 100%; }

.imgzone + .subtxt {
  margin-top: 10px; }

.content_area.bot_grid {
  margin-bottom: 20px; }

.intro_sign {
  text-align: right; }

.intro_sign > img {
  width: 50%; }

.his_box {
  position: relative;
  font-size: 0.875rem;
  overflow: hidden;
  min-height: 80px;
  padding-bottom: 20px; }
  .his_box .his_date {
    float: left;
    display: inline-block;
    padding: 5px;
    background: #cccccc;
    min-width: 85px; }
    .his_box .his_date.point {
      background: #ea5421;
      color: #fff; }
  .his_box .his_txt {
    float: left;
    display: inlnie-block;
    width: 70%;
    margin: 10px 0 0 70px; }
  .his_box .imgzone {
    margin-bottom: 5px; }
  .his_box:after {
    left: 42px;
    height: 100%;
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    background: #cccccc;
    top: 26px; }

.biz_sysbox {
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-border-top-left-radius: true;
  -webkit-border-top-left-radius: true;
  border-top-left-radius: true;
  -moz-border-top-right-radius: true;
  -webkit-border-top-right-radius: true;
  border-top-right-radius: true;
  -moz-border-bottom-left-radius: true;
  -webkit-border-bottom-left-radius: true;
  border-bottom-left-radius: true;
  -moz-border-bottom-right-radius: true;
  -webkit-border-bottom-right-radius: true;
  border-bottom-right-radius: true;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 100; }

.bar.bar-stable .title {
  color: #333; }

.ion-navicon:before {
  color: #ea5421; }

.header_ctrset {
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%; }
  .header_ctrset a {
    text-indent: -9999px;
    display: block;
    width: 26px;
    height: 26px;
    background: url("../img/header_giconset.png") no-repeat; }
    .header_ctrset a.ghome {
      float: left; }
    .header_ctrset a.gclose {
      float: right;
      background-position: 0 -26px; }

.ic li {
  font-size: 0.75rem;
  margin-left: 9px;
  text-indent: -9px; }
  .ic li:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #d9d9d9;
    margin-right: 5px;
    vertical-align: middle; }
.ic + h3 {
  margin-top: 25px; }

.imgsys .stxt {
  font-size: 0.75rem;
  color: #666;
  line-height: 1.4; }
  .imgsys .stxt + h3 {
    margin-top: 20px;
    font-size: 0.9375rem; }
.imgsys .imgsys_info {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 20px 0;
  width: 100%;
  background: #f2f2f2; }
  .imgsys .imgsys_info .h4d {
    font-size: 0.8125rem;
    font-weight: normal; }
  .imgsys .imgsys_info .ctbox {
    position: relative;
    width: 80%;
    margin: 0 auto; }

.swcontset .titset {
  color: #ea5421;
  font-size: 1.6em; }

.swcontset .titset .txt_sm {
  font-size: .5em;
  color: #333;
  margin-left: 5px; }

.swcontset .stxt {
  font-size: .75em;
  color: #000;
  line-height: 1.5; }

.swcontset .titset.type1 {
  color: #000;
  font-size: 1.35em; }

.swcontset .titset.type2 {
  color: #326cb4;
  font-size: 1.2em; }

.swcontset .titset.type3 {
  color: #333;
  font-size: 0.75em; }

.swcontset .titset.type1 + .titset.type2,
.swcontset .ic + .imgset,
.swcontset .stxt + .simg,
.swcontset .titset.type2 + .swcontset .titset.type3,
.swcontset .stxt + .titset {
  margin-top: 20px; }

.swcontset .simg + .simg {
  margin-top: 10px; }

.swcontset .imgset .simg {
  border: 1px solid #666;
  padding: 10px;
  margin: 0; }

.swcontset .imgset .simg + .ic,
.swcontset .imgset .simg + .simg,
.swcontset .imgset .titset.type3 + .simg {
  margin-top: 10px; }

.swcontset .imgset .titset.type3 {
  margin-top: 20px; }

.swcontset .imgset + .titset.type2 {
  margin-top: 30px; }

.swiper-containerx.swconts .swiper-button-next,
.swiper-containerx.swconts .swiper-button-prev {
  top: 100px; }

/* 테이블 스타일 */
.t_nt {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  border-right: 1px hidden #fff; }
  .t_nt th,
  .t_nt td {
    border: 1px solid #ddd;
    border-width: 0px 0px 1px 0px;
    vertical-align: middle; }
  .t_nt th {
    font-weight: normal;
    text-align: inherit;
    padding: 15px 10px 13px 10px; }
  .t_nt td {
    padding: 15px 10px 15px 10px; }
    .t_nt td.ct {
      text-align: center; }
  .t_nt thead th, .t_nt tfoot th {
    border: 1px solid #bbd4ea;
    border-width: 0px 0px 1px 0px;
    background: #fff;
    color: #1f5071;
    text-align: center;
    vertical-align: middle;
    font-weight: bold; }
  .t_nt tbody th {
    text-align: center;
    background: #f9f9f9;
    color: #000; }
  .t_nt.type1 th,
  .t_nt.type1 td {
    font-size: 0.75rem;
    padding: 10px;
    text-align: center; }

.schtxt {
  font-size: 0.75rem;
  margin-left: 10px;
  margin-bottom: 15px;
  display: inline-block;
  white-space: nowrap; }

* html .t_nt {
  border-right: 1px solid #fff; }

*:first-child + html .t_nt {
  border-right: 1px solid #fff; }

.page_navi {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0; }

/* 인풋스타일 */
input {
  border: none; }

.inputset {
  position: relative;
  font-size: 0rem;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  /* Unchecked styles */
  /* Checked styles */
  /* Remove default checkbox */ }
  .inputset input, .inputset select {
    border: 1px solid #d5d5d5; }
  .inputset input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 10px 0 10px;
    line-height: 34px;
    transition: background-color 1.2s ease, box-shadow 1.2s ease; }
    .inputset input:focus {
      background: #fee8e9;
      border: 1px solid #d44e54;
      box-shadow: 0 0 10px 0 rgba(212, 74, 84, 0.2); }
      .inputset input:focus::-webkit-input-placeholder {
        color: #d44e54; }
    .inputset input:read-only {
      background: #f3f3f3;
      border: 1px solid #d5d5d5; }
      .inputset input:read-only:focus {
        background: #f3f3f3;
        box-shadow: none; }
        .inputset input:read-only:focus::-webkit-input-placeholder {
          color: #a9a9a9; }
  .inputset select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(../img/bg_select.png) no-repeat right 0;
    padding: 7px 47px 7px 10px;
    font-size: 0.875rem;
    transition: border-color 1.2s ease, box-shadow 1.2s ease; }
    .inputset select:focus {
      border: 1px solid #d44e54;
      box-shadow: 0 0 10px 0 rgba(212, 74, 84, 0.2); }
  .inputset [type="radio"]:not(:checked), .inputset [type="radio"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden; }
  .inputset [type="radio"]:not(:checked) + label, .inputset [type="radio"]:checked + label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: 0.28s ease;
    -moz-transition: 0.28s ease;
    -ms-transition: 0.28s ease;
    -o-transition: 0.28s ease;
    transition: 0.28s ease; }
  .inputset [type="radio"] + label:before, .inputset [type="radio"] + label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -ms-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: 0.15s ease; }
  .inputset [type="radio"]:not(:checked) + label:before {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #5a5a5a; }
  .inputset [type="radio"]:not(:checked) + label:after {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #5a5a5a;
    z-index: -1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  .inputset [type="radio"]:checked + label:before {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid transparent; }
  .inputset [type="radio"]:checked + label:after {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02); }
  .inputset [type="checkbox"]:not(:checked), .inputset [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden; }
  .inputset [type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem; }
  .inputset [type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -ms-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: 0.15s ease; }
  .inputset [type="checkbox"]:not(:checked):disabled + label:before {
    border: none;
    background-color: rgba(0, 0, 0, 0.26); }
  .inputset [type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  .inputset [type="checkbox"]:checked:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    border-bottom: 2px solid rgba(0, 0, 0, 0.26); }
  .inputset.grd + .inputset.grd {
    margin-left: 15px; }
  .inputset.sch {
    display: block;
    width: 100%; }
    .inputset.sch [type="search"] {
      border: none;
      border-bottom: 1px solid #ccc;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .inputset.sch [type="search"]:focus {
        background: none;
        border: none;
        border-bottom: 1px solid #093; }
    .inputset.sch button.schbtn {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 20px;
      height: 20px;
      background: url(../img/magnifier12.png) no-repeat 0 0;
      background-size: cover; }
    .inputset.sch + .mattab {
      margin-top: 10px; }
  .inputset.label {
    display: -webkit-flex;
    display: flex; }
    .inputset.label label {
      width: 200px;
      line-height: 34px; }
    .inputset.label input {
      flex: 1;
      -webkit-flex: 1; }
    .inputset.label + .inputset.label {
      margin-top: 10px; }
  .inputset.grd {
    display: inline; }

.tab_rdo {
  display: inline-block;
  font-size: 0rem;
  overflow: hidden;
  vertical-align: middle;
  border-left: 1px solid #bfbfbf; }
  .tab_rdo input[type="radio"] {
    position: absolute;
    left: -9999px; }
  .tab_rdo input[type="radio"]:checked + label {
    color: #fff;
    padding: 6px 15px 7px;
    border: 1px solid #7e5e4e;
    background: #997b6d;
    background: -moz-linear-gradient(top, #997b6d 0%, #856656 70%, #7e5e4e 100%);
    background: -o-linear-gradient(top, #997b6d 0%, #856656 70%, #7e5e4e 100%);
    background: -ms-linear-gradient(top, #997b6d 0%, #856656 70%, #7e5e4e 100%);
    background: -webkit-linear-gradient(top, #997b6d 0%, #856656 70%, #7e5e4e 100%);
    background: linear-gradient(to bottom, #997b6d 0%, #856656 70%, #7e5e4e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#7e5e4e', end-colourStr='#997b6d'); }
    .tab_rdo input[type="radio"]:checked + label:after, .tab_rdo input[type="radio"]:checked + label:before {
      background: none;
      border: none; }
  .tab_rdo > div {
    display: inline-block; }
  .tab_rdo input[type="radio"] + label {
    font-size: 16px;
    border: 1px solid #bfbfbf;
    margin-left: -1px;
    padding: 6px 15px 7px;
    display: inline-block;
    cursor: pointer;
    line-height: 22px;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #f4f4f4 70%, #ebebeb 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #f4f4f4 70%, #ebebeb 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #f4f4f4 70%, #ebebeb 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%, #f4f4f4 70%, #ebebeb 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #f4f4f4 70%, #ebebeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#ebebeb', end-colourStr='#fefefe'); }
    .tab_rdo input[type="radio"] + label:after, .tab_rdo input[type="radio"] + label:before {
      background: none;
      border: none; }

.input_col {
  display: -webkit-flex;
  display: flex; }
  .input_col .inputset {
    flex: 1;
    -webkit-flex: 1; }
  .input_col span:nth-of-type(2) {
    line-height: 36px;
    margin: 0 5px; }
  .input_col .inputset + .inputset {
    margin-left: 5px; }
  .input_col.date .inputset {
    position: relative; }
  .input_col.date .datebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1rem;
    text-indent: -9999px;
    width: 34px;
    height: 34px;
    background: #a6a6a6; }
    .input_col.date .datebtn:after {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      background: url(../img/calico.png) no-repeat 0 0;
      position: absolute;
      top: 6px;
      left: 6px; }
    .input_col.date .datebtn:active, .input_col.date .datebtn:hover {
      background: #494949; }
  .input_col.type1 span:nth-child(4) {
    display: inline;
    font-size: inherit;
    line-height: 0;
    margin-right: 0; }

.item input {
  padding: 0; }

.item input:focus {
  border: none;
  box-shadow: none;
  background: none; }

.item-input > input[type="text"] {
  border: none; }

label.item-input {
  padding-right: 16px; }

.inputset + .inputset {
  margin-top: 10px; }

/* 버튼스타일 */
.btn_center {
  position: relative;
  text-align: center;
  font-size: 0.875rem; }

.btn_right {
  position: relative;
  text-align: right;
  font-size: 0.875rem; }

.btn_left {
  position: relative;
  text-align: left;
  font-size: 0.875rem; }

.btn_both {
  position: relative;
  overflow: hidden; }
  .btn_both .f_left + div {
    text-align: right;
    margin-right: 1px; }
  .btn_both .f_left > h2 {
    margin-top: 17px; }
  .btn_both .f_left > p {
    margin-top: 17px;
    padding: 0; }

.actionbtnset {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  z-index: 2000; }
  .actionbtnset .actionbtn {
    position: absolute;
    z-index: 10;
    visibility: visible;
    width: 60px;
    height: 60px;
    display: block;
    background: #d9a11c;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2), 0 22px 50px 0 rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2), 0 22px 50px 0 rgba(0, 0, 0, 0.17); }
    .actionbtnset .actionbtn.on {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .actionbtnset .actionbtn span {
      display: block;
      width: 25px;
      height: 4px;
      margin-bottom: 3px;
      background: #fff;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .actionbtnset .actionbtn .bar1 {
      margin: 0 auto;
      -webkit-transform: translatey(28px) rotate(0deg);
      -moz-transform: translatey(28px) rotate(0deg);
      -ms-transform: translatey(28px) rotate(0deg);
      -o-transform: translatey(28px) rotate(0deg);
      transform: translatey(28px) rotate(0deg); }
    .actionbtnset .actionbtn .bar2 {
      margin: 0 auto;
      -webkit-transform: translatey(24px) rotate(90deg);
      -moz-transform: translatey(24px) rotate(90deg);
      -ms-transform: translatey(24px) rotate(90deg);
      -o-transform: translatey(24px) rotate(90deg);
      transform: translatey(24px) rotate(90deg); }
  .actionbtnset.active .actionbtn .bar1 {
    -webkit-transform: translatey(28px) rotate(90deg);
    -moz-transform: translatey(28px) rotate(90deg);
    -ms-transform: translatey(28px) rotate(90deg);
    -o-transform: translatey(28px) rotate(90deg);
    transform: translatey(28px) rotate(90deg); }
  .actionbtnset.active .actionbtn .bar2 {
    -webkit-transform: translatey(24px) rotate(180deg);
    -moz-transform: translatey(24px) rotate(180deg);
    -ms-transform: translatey(24px) rotate(180deg);
    -o-transform: translatey(24px) rotate(180deg);
    transform: translatey(24px) rotate(180deg); }
  .actionbtnset.active .subbtn1 {
    top: -75px;
    visibility: visible;
    box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.2), 0 18px 42px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.2), 0 18px 42px 0 rgba(0, 0, 0, 0.16); }
    .actionbtnset.active .subbtn1:nth-child(2) {
      top: -150px; }
    .actionbtnset.active .subbtn1:nth-child(3) {
      top: -225px; }

.actionbg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1050;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  .actionbg.active {
    visibility: visible;
    opacity: 0.15;
    filter: alpha(opacity=15);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

.subbtn1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  background: #fff;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.full {
  position: absolute;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background: url(../img/tabletbg.jpg) no-repeat 0 0;
  background-size: cover; }

.main_tit {
  text-align: center;
  font-size: 6.25rem;
  color: #fff;
  margin: 0;
  padding: 0; }
  .main_tit.type1 {
    font-size: 3.75rem; }
  .main_tit.type2 {
    font-size: 1.125rem;
    margin-top: 20px;
    line-height: 1.7; }
  .main_tit:first-child {
    margin-top: 90px; }

.box_sixm_outer {
  width: 104px;
  text-align: center;
  position: relative;
  top: 387px;
  margin: 0 auto;
  overflow: hidden; }
  .box_sixm_outer .box_sixm {
    position: relative;
    display: block; }
    .box_sixm_outer .box_sixm:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -11px 0 0 -7px;
      width: 13px;
      height: 22px;
      background: url(../img/main_linkico.png) no-repeat 0 0; }

.box-5 {
  width: 0;
  border-bottom: 30px solid #b91515;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent; }

.box-7 {
  width: 104px;
  height: 60px;
  background-color: #b91515; }

.box-6 {
  width: 0;
  border-top: 30px solid #b91515;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent; }

.m1 {
  overflow: hidden; }
  .m1 .mbox {
    position: relative;
    width: 33.3%;
    height: 100px;
    background: #ea5545;
    float: left;
    display: inline;
    overflow: hidden; }
    .m1 .mbox .subtit {
      color: #fff;
      margin: 10px 0 0 10px; }
    .m1 .mbox:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 45px;
      height: 37px;
      background: url(../img/main/m1icoset.png) no-repeat 0 0; }
    .m1 .mbox:last-child {
      width: 33.4%; }
    .m1 .mbox.type1 {
      background: #91180b; }
      .m1 .mbox.type1:after {
        background-position: -69px 0;
        width: 45px;
        height: 48px; }
    .m1 .mbox.type2 {
      background: #91370b; }
      .m1 .mbox.type2:after {
        background-position: -155px 0;
        width: 37px;
        height: 43px; }

.m2 .m2head {
  overflow: hidden;
  width: 100%;
  background: #f2f2f2;
  border-bottom: 1px solid #fff;
  height: 35px; }
  .m2 .m2head .subtit {
    font-size: 0.875rem;
    color: #ea5421;
    line-height: 35px;
    padding-left: 20px; }
.m2 .m2cont {
  overflow: hidden;
  width: 100%;
  height: 70px;
  background: #f2f2f2; }
  .m2 .m2cont .m2blit {
    margin: 20px 20px 0 20px; }
    .m2 .m2cont .m2blit li {
      font-size: 0.75rem;
      overflow: hidden;
      line-height: 1.5; }
      .m2 .m2cont .m2blit li a {
        display: block; }
        .m2 .m2cont .m2blit li a .date {
          float: right; }
        .m2 .m2cont .m2blit li a .txtcut {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 70%;
          display: inline-block; }

.m3 {
  text-align: center;
  width: 100%;
  height: 30px;
  background: #f2f2f2;
  margin-top: 8px;
  line-height: 30px; }

@media screen and (max-width: 768px) {
  .main_tit {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    margin: 0;
    padding: 0; }
    .main_tit.type1 {
      font-size: 2rem; }
    .main_tit.type2 {
      font-size: 0.75rem;
      margin-top: 30px;
      line-height: 1.7; } }
.tab + .m2 {
  margin-top: 20px; }

.padding .pickadate {
  margin-top: 25px; }
  @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .padding .pickadate {
      margin-top: 75px; } }
  .padding .pickadate .pickadate-header {
    position: relative; }
    .padding .pickadate .pickadate-header .pickadate-centered-heading {
      font-weight: normal;
      text-align: center;
      font-size: 1rem;
      margin: 13px 0 13px 0; }
    .padding .pickadate .pickadate-header .pickadate-controls {
      position: absolute;
      z-index: 10;
      width: 100%; }
      .padding .pickadate .pickadate-header .pickadate-controls a {
        display: block;
        text-indent: -9999px;
        width: 10px;
        height: 18px;
        background: url(../img/date_icosetbk.png) no-repeat 0 0; }
        .padding .pickadate .pickadate-header .pickadate-controls a.pickadate-prev {
          float: left;
          margin-left: 15px; }
          .padding .pickadate .pickadate-header .pickadate-controls a.pickadate-prev:hover, .padding .pickadate .pickadate-header .pickadate-controls a.pickadate-prev:active {
            background-position: -0 -23px; }
        .padding .pickadate .pickadate-header .pickadate-controls a.pickadate-next {
          float: right;
          background-position: -15px 0;
          margin-right: 15px; }
          .padding .pickadate .pickadate-header .pickadate-controls a.pickadate-next:hover, .padding .pickadate .pickadate-header .pickadate-controls a.pickadate-next:active {
            background-position: -15px -23px; }
  .padding .pickadate .pickadate-body .pickadate-main {
    margin: 25px 0 0 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 12px; }
    .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell {
      overflow: hidden;
      margin: 0;
      padding: 0; }
      .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell li {
        display: block;
        float: left;
        border: none;
        width: 14.285%;
        padding: 1.3% 0 1.3% 0; }
        .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell li:nth-child(7n+1) {
          color: #b71c1c; }
        .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell li:nth-child(7n+7) {
          color: #481cb7; }
      .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell .pickadate-disabled,
      .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell .pickadate-disabled a {
        color: #DCDCDC; }
      .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell .pickadate-enabled {
        cursor: pointer;
        font-size: 12px;
        color: #666666; }
      .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell .pickadate-today {
        background-color: #eaeaea; }
      .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell .pickadate-active {
        background-color: #b52a00;
        color: #fff;
        transition: all .4s ease; }
        .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell .pickadate-active:nth-child(7n+1), .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell .pickadate-active:nth-child(7n+7) {
          color: #fff; }
      .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell .pickadate-head:nth-child(1) {
        color: #b71c1c; }
      .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell .pickadate-head:nth-child(7) {
        color: #481cb7; }
      .padding .pickadate .pickadate-body .pickadate-main .pickadate-cell + .pickadate-cell {
        margin-top: 10px; }
  .padding .pickadate a:visited,
  .padding .pickadate a {
    color: #666666; }
.padding + .btn_center {
  margin-top: 10px; }
