$sz100 : 100%;
$default_sz : 0;
$default_szpx : 1px;
$base_color : #555;
$base_bgcolor : #fff;
$base_font : '돋움', dotum,'Helvetica', sans-serif;
$font_type1 : 'arial';
$hide : none;
$hidden : hidden;
$normal : noraml;

// 포지션 
$pos_default : relative;
$pos_abs : absolute;

// 디스플레이
$dp_default : block;
$dp_inline : inline;
$dp_inblock : inline-block;

// 색상정의
$bgcolor_type1 : #e93e44;
$light_gray : #f5f5f5;
$black : #000;
$white : #fff;
$gray_dp9 : lighten($black, 10%);
$gray_dp8 : lighten($black, 20%);
$gray_dp7 : lighten($black, 30%);
$gray_dp6 : lighten($black, 40%);
$gray_dp5 : lighten($black, 50%);
$gray_dp4 : lighten($black, 60%);
$gray_dp3 : lighten($black, 70%);
$gray_dp2 : lighten($black, 80%);
$gray_dp1 : lighten($black, 90%);
$gray_dp0 : lighten($black, 95%);

// 정렬 
$left : left;
$right : right;
$center : center;



