<ion-view view-title="이미지시스템" ng-controller = "TabCtrl">
  <ion-content>
      
    <div class="content_area">
    
        <div class="tab col2">
            <div class="tab_list">
                <a href="" id="cont1">BPR</a>
            </div>
            <div class="tabcont on" id="cont1">
            <!-- 내용 1 -->
                <div class="list">
                    <div class="biz_sysbox">
                        <ion-scroll zooming="true" direction="xy" style="width: 100%; min-height:300px">
                        <img class="responsive" src="img/bprsysimg01.jpg"  alt="" />
                        <!-- div style="width: 1099px; height: 623px; background: url('img/bprsysimg01.jpg') no-repeat"></div -->
                        </ion-scroll>
                    </div>                    
                </div>               
            <!-- //내용 1 -->                                
            </div>                
            <div class="tab_list">
                <a href="" id="cont2">해지서류분류</a>
            </div>
            <div class="tabcont" id="cont2">
            <!-- 내용 2 -->
            	<div class="imgsys">
                    <p class="stxt">
                        2014년 1월 카드사 정보유출사고 발생 이후 관계부처 합동으로 발표한 금융회사 고객정보 유출 재발방지대책"에 따라 금융회사는 거래 종료 후 원칙적으로 필요한 정보만 보관하고 즉시 파기해야 하며, 거래 종료 후 5년이 경과한 정보는 원칙적으로 모두 파기해야 합니다. 
                        이에 따라 고객정보를 포함하고 있는 거래신청서 중 파기 요건에 해당하는 자료를 정확히 선별하여 폐기처리 할 수 있는 프로세스를 구현하고자 합니다.                
                    </p>
                
                	<h3>개요</h3>
                    <div class="imgsys_info">
                    	<h4 class="h4d">"개인정보 보호 강화 및 정보유출 재발방지”</h4>
                        <p class="stxt">정보 수집ㆍ보유ㆍ활용ㆍ파기 : 단계별 정보보호 강화</p>
                        <div class="ctbox">
                        	<span class="top_con">
                        		<span>필요한 기간만 보관 후 파기</span>
                            </span>
                        </div>
                    </div>
                    <!--
                    <div class="list">
                        <div class="biz_sysbox">
                            <ion-scroll zooming="true" direction="xy" style="width: 100%; min-height:300px">
                            <div style="width: 1099px; height: 623px; background: url('img/bprsysimg01.jpg') no-repeat"></div>
                            </ion-scroll>
                        </div>                    
                    </div>               
                    -->
                    <h3>처리절차</h3>
                    <div class="imgsys">
                        <p class="stxt">
                                폐기 처리 작업 중 발생하는 이벤트 및 거래를 수집·관리함으로써 항상 스캐너, 작업자, As-Is박스, To-Be박스 단위로 처리단계 및 상황, 계좌정보를 모니터링 합니다.
                        </p>
                        <img class="responsive" src="img/imgsysimg02_new.jpg" alt="" />
                    </div>
                </div>
            <!-- //내용 2 -->   
            </div>                                                             
            <div class="tabslideset">
                <div class="tabslide"></div>
            </div>                     
        </div>      
              
    </div>
     <div class="bar bar-footer">
        <address>주식회사 태화이노베이션<br />서울특별시 성동구 아차산로17길 48, 성수SK V1센터1 912,913호<br /> 
    대표번호 : 02-6952-9644 / E-mail : taehwainno@taehwainno.com</address>
      <!-- <button class="button button-clear pull-right">Right</button> -->
    </div>   
  </ion-content>
</ion-view>



