<ion-view view-title="채용절차">
  <ion-content>
	
    <!--
	<div class="bodyhead">
    	<h2>채용절차</h2>
    </div>
    -->
      
    <div class="content_area">

    <div class="title">
	    <h2>채용유형</h2>
    </div>
        
    <ul class="list recue">
        <li>
            <dl>
                <dt>01. 수시채용</dt>
                <dd>인력 충원이 필요할 경우, 홈페이지 공고를 통하여 새로운 인재를 채용하고 있습니다.</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>02. 신입공채</dt>
                <dd>인력 충원이 필요할 경우, 홈페이지 공고를 통하여 새로운 인재를 채용하고 있습니다.</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>03. 경력공채</dt>
                <dd>매년 공식적인 경력공채 기간을 통해 각 분야의 전문인력을 채용하고 있습니다.</dd>
            </dl>
        </li>  
        <li>
            <dl>
                <dt>04. 인턴쉽</dt>
                <dd>대학 재학생을 대상으로 취업 전에 태화이노베이션의 기업문화와 업무내용을 체험할 수 있는 기회를 제공하고 있습니다.</dd>
            </dl>
        </li>                                      
    </ul>
    
    <div class="title">
	    <h2>채용문의</h2>
    </div> 
    
    <div class="recuebox">   
    <p class="stxt">궁금하신 사항이 있으시면 아래 메일로 문의 주시기 바랍니다. 태화이노베이션은 최고의 인재와 함께 합니다.</p>
	<button class="button button-block button-assertive" onclick="location.href='mailto:taehwainno@taehwainno.com';">채용문의</button>   
    </div>
    </div>

     <div class="bar bar-footer">
        <address>주식회사 태화이노베이션<br />서울특별시 성동구 아차산로17길 48, 성수SK V1센터1 912,913호<br /> 
    대표번호 : 02-6952-9644 / E-mail : taehwainno@taehwainno.com</address>
      <!-- <button class="button button-clear pull-right">Right</button> -->
    </div>   
  </ion-content>
</ion-view>



