<ion-view view-title="인재채용-인재상">
  <ion-content>

      
    <div class="content_area">
    	<div class="simg">
            <img class="responsive" src="img/peoplerecrue.png" alt="" />
        </div>
    </div>

     <div class="bar bar-footer">
        <address>주식회사 태화이노베이션<br />서울특별시 성동구 뚝섬로 1길 25 서울숲한라에코벨리 601호<br /> 
    대표번호 : 02-6952-9644 / E-mail : taehwainno@taehwainno.com</address>
      <!-- <button class="button button-clear pull-right">Right</button> -->
    </div>   
  </ion-content>
</ion-view>



