<ion-view view-title="연혁">
  <ion-content>

<div class="content_area bot_grid">
	
	<div class="his_box">
    	<span class="his_date point">
	        2015년 10월
        </span>
        <span class="his_txt">
	        특허 출원 : 전자문서 기반의 업무처리를 위한 서식정보 관리시스템
        </span>
    </div>  
	<div class="his_box">
    	<span class="his_date">
	        2015년 7월
        </span>
        <span class="his_txt">
	        특허 출원 : 개인정보 보호를 위한 거래 해지 고객의 해지서류 자동분류 방법
        </span>
    </div>
	<div class="his_box">
    	<span class="his_date">
	        2015년 6월
        </span>
        <span class="his_txt">
        	<div class="imgzone">
            <img class="responsive" src="img/history_img1.png" alt="" />
            </div>
	        벤처기업 인증 (제21050105497호)<br />
            기업부설연구소 인증 (제2015112974호)<br />
            미국 BANCTEC 국내 총판 계약 체결
        </span>
    </div>
	<div class="his_box">
    	<span class="his_date">
	        2015년 5월
        </span>
        <span class="his_txt">
            ㈜한틀시스템 스캐너 판매 대리점 계약 체결<br />
            ㈜태화이노베이션 설립 / ㈜에스엔티씨 에서 분사	
        </span>
    </div>                  
</div>


     <div class="bar bar-footer">
        <address>주식회사 태화이노베이션<br />서울특별시 성동구 뚝섬로 1길 25 서울숲한라에코벨리 601호<br /> 
    대표번호 : 02-6952-9644 / E-mail : taehwainno@taehwainno.com</address>
      <!-- <button class="button button-clear pull-right">Right</button> -->
    </div>   
  </ion-content>
</ion-view>



