<ion-view view-title="하드웨어솔루션">
    <ion-content ng-controller="TabCtrl">

        <div class="content_area">
            <div class="tab col4">
                <div class="tab_list">
                    <a href="" id="cont1">이미지스캐너</a>
                </div>
                <div class="tabcont on" id="cont1">
                    <!-- 내용 1 -->
                    <h3>IntelliScan XDS</h3>
                    <div class="prd_imgbox">
                        <img src="img/prd_img1.jpg" alt="" />
                    </div>
                    <ul class="ic">
                        <li>A4문서를 550매/분의 처리속도로 초고속 Scan,인식,Sort</li>
                        <li>전 세계 Market Share 1위 업체</li>
                        <li>BPR 센터 및 문서고용 대용량 문서 스캐너</li>
                        <li>사용자가 지정하는 종이문서를 각 단위 Pockets에 자동 분류기능 탑재<br />
                            (ex : 해지서류 자동분류 시스템)
                        </li>
                    </ul>

                    <h3>HGS-Series</h3>
                    <div class="prd_imgbox">
                        <img src="img/prd_img2.jpg" alt="" />
                    </div>
                    <ul class="ic">
                        <li>자기앞수표 위변조 감별을 위한 MICR Header 및 UV/IR 센서 장착</li>
                        <li>A4 용지를 1분당 100매 처리속도로 Scan 가능</li>
                        <li>국내 어음교환 업무 Market Share 1위 제품</li>
                        <li>고해상도의 CIS와 다양한 이미지 필터(Image Enhancement Filter)를 응용함으로써 최상의 이미지를 제공합니다.</li>
                        <li>스캔, MICR 독취와 동시에 수표의 교환인을 압인할 수 있는 오토스탬핑 기능을 제공합니다.</li>
                    </ul>

                    <!-- //내용 1 -->
                </div>
                <div class="tab_list">
                    <a href="" id="cont2">Reader<br />Sorter기</a>
                </div>
                <div class="tabcont" id="cont2">
                    <!-- 내용 2 -->

                    <h3>E-1150</h3>
                    <div class="prd_imgbox">
                        <img src="img/prd_img3.jpg" alt="" />
                    </div>
                    <ul class="ic">
                        <li>수표 및 지로 용지를 1분당 1,150매 속도로 처리 가능</li>
                        <li>전 세계 Market Share 1위 업체</li>
                        <li>어음교환센터 및 OCR센터용 Reader Sorter</li>
                        <li>사용자가 지정하는 종이문서를 각 단위 Pockets에 자동 분류기능 탑재</li>
                    </ul>

                    <h3>E-600</h3>
                    <div class="prd_imgbox">
                        <img src="img/prd_img3.jpg" alt="" />
                    </div>
                    <ul class="ic">
                        <li>수표 및 지로 용지를 1분당 600매 속도로 처리 가능</li>
                        <li>전 세계 Market Share 1위 업체</li>
                        <li>어음교환센터 및 OCR센터용 Reader Sorter</li>
                        <li>사용자가 지정하는 종이문서를 각 단위 Pockets에 자동 분류기능 탑재</li>
                    </ul>

                    <!-- //내용 2 -->
                </div>

                <div class="tab_list">
                    <a href="" id="cont3">전자문서<br />(Paperless)</a>
                </div>
                <div class="tabcont" id="cont3">
                    <!-- 내용 3 -->
                    <h3>TH-1500TB</h3>
                    <div class="prd_imgbox">
                        <img src="img/prd_img5.jpg" alt="" />
                    </div>
                    <ul class="ic">
                        <li>은행, 병원, 국세청 등에서 사용 중이며, 공공, 서비스업종 등 다양한 산업분야의 신규 시장 수요 예상</li>
                        <li>순수 국내 기술로 설계 및 제조</li>
                        <li>2048 levels 필기 압력 감지</li>
                        <li>전자펜과 손터치 겸용</li>
                    </ul>

                    <h3>Finger Scan-D</h3>
                    <div class="prd_imgbox">
                        <img src="img/prd_img6.jpg" alt="" />
                    </div>
                    <ul class="ic">
                        <li>오물질(인주잔상)의 완벽한 처리 (특허출원번호:10-2014-0029563)</li>
                        <li>도장 입력부분의 오염(인주 등)과 관계없이 입력한 도장 이미지를 완벽하게 인식</li>
                        <li>지문 Scan 알고리즘을 활용하여 본인 부인방지 용도로 활용 가능</li>
                        <li>마이크로소프트社 WHQL 골드 파트너 레벨 획득으로 안정적인 드라이버 호완성 보증</li>
                        <li>하나의 기기에서 도장, 지문 스캔이 모두 가능</li>
                    </ul>
                    <!-- //내용 3 -->
                </div>

                <div class="tab_list">
                    <a href="" id="cont4">KIOSK</a>
                </div>
                <div class="tabcont" id="cont4">
                    <!-- 내용 4 -->
                    <h3>HPA-500K</h3>
                    <div class="prd_imgbox">
                        <img src="img/prd_img7.jpg" alt="" />
                    </div>
                    <ul class="ic">
                        <li>현금 입출금 기능을 제외한 모든 금융거래 가능</li>
                        <li>IC카드, 통장, NFC Reader 모듈 탑재</li>
                        <li>손터치, 음성안내 기능</li>
                        <li>대기 고객 번호표 발행 기능</li>
                        <li>H/W 및 운영 프로그램 포함 자체 개발 완료</li>
                    </ul>

                    <h3>신용카드전용 미니키오스크</h3>
                    <div class="prd_imgbox">
                        <img src="img/prd_img8.jpg" alt="" />
                    </div>
                    <ul class="ic">
                        <li>제품의 경량화 및 설치 부담의 최소화</li>
                        <li>우수한 공간활용성 (W x H x D : 490 x 562 x 106mm)</li>
                        <li>LCD부 강화 아크릴 3T적용, Key Lock적용, Air Damper 채용</li>
                        <li>전면 판넬부 모든 부품의 집중 배치 (우수한 보수성)</li>
                        <li>제조사 모델 영수증 프린터 채용 (Near-End, End 감지 가능)</li>
                        <li>우수한 Jam 제거 용이성 및 내구성(Cutter 30만회, TPH 100km 수명)</li>
                        <li>제조사 초박형 지폐방출기 채용가능
                    </ul>
                    <!-- //내용 4 -->
                </div>

                <div class="tabslideset">
                    <div class="tabslide"></div>
                </div>
            </div>
        </div>

        <div class="bar bar-footer">
            <address>주식회사 태화이노베이션<br />서울특별시 성동구 뚝섬로 1길 25 서울숲한라에코벨리 601호<br />
                대표번호 : 02-6952-9644 / E-mail : taehwainno@taehwainno.com</address>
            <!-- <button class="button button-clear pull-right">Right</button> -->
        </div>
    </ion-content>
</ion-view>